[Unit]
Description=SFA Database service
Requires=postgresql
After=postgresql

[Service]
Type=oneshot
ExecStart=/bin/bash -c "/usr/bin/sfa-db-init.sh"
RemainAfterExit=true
# systemd insists that we define this one
# that does not seem useful in our case
ExecStop=/bin/true
StandardOutput=journal

[Install]
WantedBy=multi-user.target
