[Unit]
Description=SFA Aggregate Manager (AM)
Requires=sfa-db
After=sfa-db

[Service]
ExecStart=/bin/bash -c "/usr/bin/sfa-start.py -a"

[Install]
WantedBy=multi-user.target
